.btn {
    cursor: pointer;
    text-align: center;
}

.actionButton {
    color: #000;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.bg-action-primary {
    background-color: rgb(69, 128, 238);
}

.b--action-primary {
    border-color: rgb(47, 47, 243);
}

.bg-action-secondary {
    background-color: rgb(1, 221, 173);
}

.b--action-secondary {
    border-color: rgb(65, 109, 99);
}

.bg-action-dark {
    background-color: rgb(34, 32, 32);
    color: #fff; /* Adicionando uma cor de texto para melhor legibilidade */
}

.b--action-dark {
    border-color: #000;
}

.size-action-big {
    width: 220px;
    height: 60px;
}

.size-action-medium {
    width: 170px;
    height: 45px;
}

.size-action-small {
    width: 120px;
    height: 30px;
}
